body {
  background-color: #e1e9e5;
}

#center {
  display: grid;
  place-items: center;
}

.lock {
  margin: 150px;
  height: 150px;
  width: 175px;
  background-color: #1e161a;
  border-radius: 15%;
  position: relative;
}

.lock::before, .lock::after {
  border-radius: 30%;
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lock::before {
  height: 150px;
  width: 170px;
  border: 7px solid #1e161a;
}

.lock::after {
  height: 50px;
  width: 25px;
  background-color: #e1e9e5;
  top: 50%;
}